.container {
    background-color: black;
    padding-top: 120px;



    .wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 30%;
        padding-right: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: white, $alpha: .04);
   
        .content {
            font-size: 64px;
            font-weight: 700;
            line-height: 70px;
            color: #F4F4F6;
            text-align: center;

            span {
                color: #B6FBFF;
                ;
            }
        }

        .freebtn {
            color: black;
            padding: 16px 32px;
            background-color: #B6FBFF;
            width: max-content;
            border-radius: 100px;
            margin-top: 65px;
            cursor: pointer;
        }
    }

}